<div *ngIf="joinedParticipant" id="toolbar" class="mat-elevation-z8">
    <div class="row">
        <div class="col-md-3">
            COMECON
        </div>
        <div class="col-md-3">Sala: {{joinedParticipant?.roomName}}</div>
        <div class="col-md-3">Agora: Abertura da Reunião</div>
        <div class="col-md-3">Próximo: Ensaio Artes</div>
    </div>
</div>
<div *ngIf="joinedParticipant" id="comecon" class="mat-elevation-z8">
    <div id="card">
        <div id="menu-header">
            {{joinedParticipant?.roomName}} <img src="https://cloud.dmcontagem.com.br/logo-dm.png" alt="">
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{{joinedParticipant?.avatarURL}}" class="card-img-top rounded" alt="">
            </div>
            <div class="col-md-9">
                {{joinedParticipant?.displayName}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-list>
                    <mat-list-item>
                        <button mat-raised-button color="primary" class="btn-block">Chamar Suporte</button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-raised-button color="primary" class="btn-block">Chamar Apoio</button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-raised-button color="primary" class="btn-block" (click)="this.callGeral()">Chamar Geral</button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

    </div>
</div>
<div id="jitsi"></div>